version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: warehouse-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: warehouse
    volumes:
      - mongodb_data:/data/db
    networks:
      - warehouse-network

volumes:
  mongodb_data:
    driver: local

networks:
  warehouse-network:
    driver: bridge
